paper-shadow {
	margin-bottom: 20px;
}

.obsah {
	padding-left: 5px;
}

paper-shadow {
	background-color: white;
 
}

.fixed-m {
        position: fixed;
}
.scrollit {
        float: left;
        width: 71%
}

.sidebar-outer {
    position: relative;
}

.sidebar {
    position: fixed;
}

.brand
{
  background: no-repeat left center;
  width: 100%;
}

body  {
	font-family: 'Open Sans', sans-serif;
}


/* ANIMATIONS
============================================================================= */
.slide{
  left:0;
}
.slide.ng-enter{
  transition:0.40s linear all;
  position:fixed;
  z-index:inherit;
  left:-100%;
  height:inherit;
}
.slide.ng-leave{
  transition:0.40s linear all;
  position:fixed;
  z-index:9999;
  right:0;
}
.slide.ng-leave-active{
  transition:0.40s linear all;
  position:fixed;
  right:-100%;
  left:100%;
}
.slide.ng-enter-active{
  transition:0.40s linear all;
  left:0;
  position:relative;
}

.big {
    height: 32px;
    width: 32px;
  }

.icon-shadow {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: -webkit-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    -moz-transition: -moz-box-shadow 0.5s ease-out, opacity 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, opacity 0.5s ease-out;
}

.icon-shadow:hover {
    -webkit-box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 12px 10px  rgba(0,0,0,0.3);
    box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
    opacity: 1;
    cursor: pointer;
}

.comment-box {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
}

textarea {
  border-style: solid; 
}

paper-button {
  background: lightgrey;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  background: #ffffff;
}

header {
 /* background: #000000;*/
 background-image: url(../img/fr3c.jpg);
  height:200px;
  color:#000000;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
  font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .dropdown-menu{
  right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

.divider {
  height:100px;
}

.panel {
  border-width:0;
}

@media (max-width: 768px) {
  header {
    height: 95px;
  }
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 

paper-shadow {
  background: #F5F5F0;
}
 
