<!-- article -->
<paper-shadow z="2" class="obsah">
		<H1>{{clanek.uvod}}</H1><br>
		<p>{{clanek.text}}</p>
</paper-shadow>


<!-- comments -->
<div ng-repeat="comment in comments">
	<paper-shadow class="comment-box">
		<h1>{{comment.jmeno}}</h1>
		<br>
		<p>{{comment.text}}</p>
	</paper-shadow>
</div>

<!-- add comment -->
<b> Add comment: </b><br>
<input type="text" ng-model="nameVal" placeholder="Your Name"></input><br>
<textarea rows="4" cols="100" ng-model="textVal" placeholder="Comment text"></textarea>
<paper-button ng-Click="addComment()">Submit</paper-button>